html {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Dosis', sans-serif;
}

body {
    margin: 0;
    height: 100%;
    background-color: black;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.section {
    top: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

#section-home {
    width: 100%;
    max-width: 1920px;
    background: url("../images/bg_home.png") no-repeat;
    background-size: 100%;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(75%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

#section-ride {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg_ride.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

#section-floor-plan {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg_floor_plan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

#section-reservation {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg_reservation.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

#section-reservation .section-content {
    margin-top: 3%;
}

.section-left {
    width: 43%;
    margin-left: 5%;
    height: 90vh;
    display: inline-block;
    float: left;
    background-color: rgba(255, 255, 255, 0.8);
}

.section-left h1 {
    font-size: 10em;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 5%;
}

.section-right {
    width: 43%;
    margin-right: 5%;
    height: 90vh;
    display: inline-block;
    float: right;
    background-color: rgba(255, 255, 255, 0.8);
}

.lucid-logo {
    top: 0;
    right: 0.5%;
    position: absolute;
    width: 50px;
}

.lucid-logo img {
    width: 100%;
    height: 100%;
}

.section-content {
    z-index: 2;
    margin-top: 5%;
    position: absolute;
    width: 100%;
}

.logo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.logo > #logo-home {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.logo > #logo-ride {
    width: 55%;
    display: block;
    margin: auto;
    margin-bottom: 5%;
}

.logo > #logo-floor-plan {
    width: 60%;
    display: block;
    margin: auto;
}

.logo > #logo-reservation {
    width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 8%;
}

.info {
    width: 30%;
    height: 25%;
    border: white solid 4px;
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 1%;
    padding-bottom: 1.5%;
}

#section-ride .info {
    width: 30%;
    height: 25%;
    border: white solid 4px;
    margin: auto;
    text-align: center;
    color: white;
    padding-top: 2%;
    padding-bottom: 1.5%;
}

.info > h1 {
    font-size: 4em;
}

.info > h2 {
    font-size: 3em;
}

.info > h3 {
    font-size: 2em;
}

.info > div {
    margin: 2% 0;
}

#ride-info {
    color: white;
    font-size: 1.5em;
    margin: 3% auto;
    width: 50%;
}

#ride-info table {
    margin: 0 auto;
}

#reservation-number {
    bottom: 2%;
    margin-left: 2.5%;
    position: absolute;
    font-size: 2em;
}

#reservation-info {
    color: black;
    margin: 5% auto;
    width: 50%;
}

#reservation-info table {
    margin: 40% auto;
}

#reservation-info table td {
    font-size: 2em;
}

#reservation-info table p {
    font-size: 0.8em !important;
    margin: 0 auto;
}

.table-colspan-sm {
    width: 4%;
}

.table-colspan-lg {
    width: 8%;
}

@keyframes arrow-move {
    0% {
        bottom: 3%;
    }
    25% {
        bottom: 2%;
    }
    50% {
        bottom: 3%;
    }
    75% {
        bottom: 2%;
    }
    100% {
        bottom: 3%;
    }
}

.arrow {
    color: white;
    bottom: 2%;
    left: 50%;
    position: absolute;
    animation-name: arrow-move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 999;
}

@media only screen and (max-device-width: 480px) {
    .section {
        top: 0;
        height: 100%;
        width: 100%;
        position: relative;
    }
    #section-home {
        width: 100%;
        max-width: 1920px;
        background: url("../images/bg_home.png") no-repeat;
        background-size: 100%;
        -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(75%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    }
    #section-ride {
        background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg_ride.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    }
    #section-floor-plan {
        background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg_floor_plan.jpg");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    }
    #section-reservation {
        background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg_reservation.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    }
    #section-reservation .section-content {
        margin-top: 10%;
    }
    .section-left {
        width: 43%;
        margin-left: 5%;
        height: 90vh;
        display: inline-block;
        float: left;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .section-left h1 {
        font-size: 7em;
        color: rgba(0, 0, 0, 0.8);
        margin-left: 5%;
    }
    .section-right {
        width: 43%;
        margin-right: 5%;
        height: 90vh;
        display: inline-block;
        float: right;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .lucid-logo {
        top: 0;
        right: 0.5%;
        position: absolute;
        width: 50px;
    }
    .lucid-logo img {
        width: 100%;
        height: 100%;
    }
    .section-content {
        z-index: 2;
        margin-top: 20%;
        position: absolute;
        width: 100%;
    }
    .logo {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .logo > #logo-home {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20%;
    }
    .logo > #logo-ride {
        width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 20%;
    }
    .logo > #logo-floor-plan {
        width: 100%;
        display: block;
        margin: auto;
    }
    .logo > #logo-reservation {
        width: 40%;
        display: block;
        margin: auto;
        margin-bottom: 8%;
    }
    .info {
        width: 50%;
        height: 25%;
        border: white solid 4px;
        margin: auto;
        text-align: center;
        color: white;
        padding-top: 1%;
        padding-bottom: 1.5%;
    }
    #section-ride .info {
        width: 50%;
        height: 25%;
        border: white solid 4px;
        margin: auto;
        text-align: center;
        color: white;
        padding-top: 2%;
        padding-bottom: 1.5%;
    }
    .info > h1 {
        font-size: 4em;
    }
    .info > h2 {
        font-size: 3em;
    }
    .info > h3 {
        font-size: 2em;
    }
    .info > div {
        margin: 2% 0;
    }
    #ride-info {
        color: white;
        font-size: 2em;
        margin: 15% auto;
        width: 50%;
        left: 2%;
    }
    #ride-info table {
        margin: 0 auto;
    }
    #reservation-number {
        bottom: 2%;
        margin-left: 2.5%;
        position: absolute;
        font-size: 2em;
    }
    #reservation-info {
        color: black;
        margin: 5% auto;
        width: 50%;
    }
    #reservation-info table {
        margin: 40% auto;
    }
    #reservation-info table td {
        font-size: 2.5em;
    }
    #reservation-info table p {
        font-size: 0.8em !important;
        margin: 0 auto;
    }
    .table-colspan-sm {
        width: 4%;
    }
    .table-colspan-lg {
        width: 8%;
    }
    @keyframes arrow-move {
        0% {
            bottom: 3%;
        }
        25% {
            bottom: 2%;
        }
        50% {
            bottom: 3%;
        }
        75% {
            bottom: 2%;
        }
        100% {
            bottom: 3%;
        }
    }
    .arrow {
        color: white;
        bottom: 2%;
        left: 48%;
        position: absolute;
        animation-name: arrow-move;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        z-index: 999;
        font-size: 2em;
    }
}
